<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="polss">
  <h1>Прогноз погоды</h1>
</div>
<div class="polss">

    <label for="">Выберите город</label> <br><br>
    <select id="city_choice">
      <option value="Алмазный">Алмазный</option>
      <option value="Западный">Западный</option>
      <option value="Курортный">Курортный</option>
      <option value="Лесной">Лесной</option>
      <option value="Научный">Научный</option>
      <option value="Полярный">Полярный</option>
      <option value="Портовый">Портовый</option>
      <option value="Приморский">Приморский</option>
      <option value="Садовый">Садовый</option>
      <option value="Северный">Северный</option>
      <option value="Степной">Степной</option>
      <option value="Таежный">Таежный</option>
      <option value="Южный">Южный</option>
    </select>
    <br>
    <button style="width: 150px !important;" onclick="get_weather()">Выбрать</button>
</div>

<div class="chart-container">
  <canvas id="chart-1"></canvas>
</div>

<div class="chart-container">
  <canvas id="chart-2"></canvas>
</div>

<div class="chart-container">
  <canvas id="chart-3"></canvas>
</div>

<script>


</script>


<link rel="stylesheet" href="/v/utilities/Chart.css">
<script src="/v/utilities/Chart.js"></script>

<link rel="stylesheet" href="/v/utilities/welcome.css">
<script src="/v/utilities/welcome.js"></script>

</body>
</html>

</script>