<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/v/utilities/student.css">
  <script src="/v/utilities/student.js"></script>
  <link rel="stylesheet" href="/v/utilities/bootstrap.min.css">
  <script src="/v/utilities/bootstrap.min.js"></script>

</head>

<style>
 @media (min-width: 992px) {
            .gedf-main {
                padding-left: 4rem;
                padding-right: 4rem;
            }
            .gedf-card {
                margin-bottom: 2.77rem;
            }
        }

        .dropdown-toggle::after {
            content: none;
            display: none;
        }</style>
<body>
      

    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div id = "" class="col-md-3 polss">
                <div>Выбор тестов:</div>
                <div id = "tests_list">
                    <li class="in"><span class="keks">Тест 3</span><span class="keks1">Начать тест  </li>
                </div>
            </div>
        <div id = "yes" class="col-md-9 gedf-main polss">
        </div>

        </div>
    </div>
<script></script>
</body>
</html>
